<p class="instructions">In the following task, you will be presented with a series of crimes. For each crime, please use the given scales to indicate how frequently you think the crime occurs and how severe you believe the crime to be.</p>

<br>
<br>

<button class="start_link"><%= link_to "Begin Study", '/crimes/1' %></button>